{% extends is_granted("ROLE_ADMIN")
? "AdminBundle::layoutSUP.html.twig"
: "AdminBundle::layoutTech.html.twig"%}
{% block user_content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
        <form action="{{ path('tech_addGanttJ',{'id':id}) }}"  method="POST">
             <h1> Planification par jour </h1>
             <br>
            <table id="example2" class="table table-bordered table-hover">
                
                    <tr>
                  
                    <td>  <label for="exampleInputEmail1">Travaux 1 </label>  </td>
                    <td><textarea name="titem1"></textarea></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 1 </label>  </td>
                    <td><input type="number" name="dated1"></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                     <td>  <label for="exampleInputEmail1">Fin Travaux 2 </label>  </td>
                    <td><input type="number" name="datef1"></td>
                    
                    </tr>
                    <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 2 </label>  </td>
                    <td><textarea name="titem2"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 2 </label>  </td>
                    <td><input type="number" name="dated2"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 2</label>  </td>
                    <td><input type="number" name="datef2"></td>
                    
                  
                    </tr>
                    <tr>
                         <td>  <label for="exampleInputEmail1">Travaux 3 </label>  </td>
                    <td><textarea name="titem3"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 3 </label>  </td>
                    <td><input type="number" name="dated3"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 3</label>  </td>
                    <td><input type="number" name="datef3"></td>
                     </tr>
                    
                <tr>
                   <td>  <label for="exampleInputEmail1">Travaux 4 </label>  </td>
                    <td><textarea name="titem4"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 4 </label>  </td>
                    <td><input type="number" name="dated4"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 4</label>  </td>
                    <td><input type="number" name="datef4"></td>     
                </tr>
                <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 5 </label>  </td>
                    <td><textarea name="titem5"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 5 </label>  </td>
                    <td><input type="number" name="dated5"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 5</label>  </td>
                    <td><input type="number" name="datef5"></td>
                 
                    </tr>
                <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 6 </label>  </td>
                    <td><textarea name="titem6"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 6 </label>  </td>
                    <td><input type="number" name="dated6"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 6 </label>  </td>
                    <td><input type="number" name="datef6"></td>
                    </tr>
                
                    <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 7 </label>  </td>
                    <td><textarea name="titem7"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 7 </label>  </td>
                    <td><input type="number" name="dated7"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 7</label>  </td>
                    <td><input type="number" name="datef7"></td>

                    </tr>
                    
                    <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 8 </label>  </td>
                    <td><textarea name="titem8"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 8 </label>  </td>
                    <td><input type="number" name="dated8"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 8</label>  </td>
                    <td><input type="number" name="datef8"></td>
                    
                    </tr>
                    
                    <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 9 </label>  </td>
                    <td><textarea name="titem9"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 9 </label>  </td>
                    <td><input type="number" name="dated9"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 9 </label>  </td>
                    <td><input type="number" name="datef9"></td>
                    
                  
                    </tr>
                    
                    <tr>
                        <td>  <label for="exampleInputEmail1">Travaux 10 </label>  </td>
                    <td><textarea name="titem10"></textarea></td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Début Travaux 10 </label>  </td>
                    <td><input type="number" name="dated10"></td>
                    
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Fin Travaux 10 </label>  </td>
                    <td><input type="number" name="datef10"></td>
                    
                  
                    </tr>
                    
            </table>
    <div>
        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Ajouter Planification" />
    </div>
    </form>
        </div>    
    </div>
    
    
{% endblock user_content %}{# empty Twig template #}
